<a href="https://colab.research.google.com/github/LucjanSakowicz/data-science-bootcamp/blob/main/09_exercises/111_120_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 111](#1)
* [Ćwiczenie 112](#2)
* [Ćwiczenie 113](#3)
* [Ćwiczenie 114](#4)
* [Ćwiczenie 115](#5)
* [Ćwiczenie 116](#6)
* [Ćwiczenie 117](#7)
* [Ćwiczenie 118](#8)
* [Ćwiczenie 119](#9)
* [Ćwiczenie 120](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
pd.__version__

'1.5.3'

### <a name='1'></a> Ćwiczenie 111
Zbuduj obiekt _DatetimeIndex_ zawierający daty w formacie 'yyyy-mm-dd' dla wszystkich dni ze stycznia 2020 roku i przypisz do zmiennej _date_range_.

__Oczekiwany wynik:__


```
DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')
```

In [8]:
date_range = pd.DatetimeIndex(np.arange(start='2020-01-01', stop='2020-02-01', dtype='datetime64[D]'))
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq=None)

Ze zmiennej _date_range_ zbuduj obiekt typu _Series_.

In [13]:
pd.Series(date_range)

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
5    2020-01-06
6    2020-01-07
7    2020-01-08
8    2020-01-09
9    2020-01-10
10   2020-01-11
11   2020-01-12
12   2020-01-13
13   2020-01-14
14   2020-01-15
15   2020-01-16
16   2020-01-17
17   2020-01-18
18   2020-01-19
19   2020-01-20
20   2020-01-21
21   2020-01-22
22   2020-01-23
23   2020-01-24
24   2020-01-25
25   2020-01-26
26   2020-01-27
27   2020-01-28
28   2020-01-29
29   2020-01-30
30   2020-01-31
dtype: datetime64[ns]

### <a name='2'></a> Ćwiczenie 112
Zbuduj obiekt _DatetimeIndex_ zawierający daty w formacie 'yyyy-mm-dd' dla wszystkich poniedziałków z 2020 roku i przypisz do zmiennej _date_range_.

In [19]:
date_range = pd.DatetimeIndex(np.arange(start='2020-01-06', stop='2020-02-01', dtype='datetime64[D]'))[::7]
date_range

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27'], dtype='datetime64[ns]', freq=None)

### <a name='3'></a> Ćwiczenie 113
Zbuduj obiekt _DatetimeIndex_ zawierający daty w formacie 'yyyy-mm-dd hh:mm:ss' dla 1 stycznia 2021 roku z odstępem czasowym 1h i przypisz do zmiennej _date_range_.

__Oczekiwany wynik:__


```
DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')
```

In [22]:
date_range = pd.DatetimeIndex(np.arange(start='2021-01-01 00:00:00', stop='2021-01-02 00:00:00', dtype='datetime64[h]'))
date_range

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq=None)

### <a name='4'></a> Ćwiczenie 114
Zbuduj poniższy obiekt _DataFrame_.

__Wskazówki:__ Kolumna _day_ zawiera daty od 01 marca 2021 do 31 marca 2021. Kolumna _day_of_year_ to numer dnia w całym roku.


```
      day	       day_of_year
 0	2021-03-01	60
 1	2021-03-02	61
 2	2021-03-03	62
 3	2021-03-04	63
 4	2021-03-05	64
 5	2021-03-06	65
 6	2021-03-07	66
 7	2021-03-08	67
 8	2021-03-09	68
 9	2021-03-10	69
10	2021-03-11	70
11	2021-03-12	71
12	2021-03-13	72
13	2021-03-14	73
14	2021-03-15	74
15	2021-03-16	75
16	2021-03-17	76
17	2021-03-18	77
18	2021-03-19	78
19	2021-03-20	79
20	2021-03-21	80
21	2021-03-22	81
22	2021-03-23	82
23	2021-03-24	83
24	2021-03-25	84
25	2021-03-26	85
26	2021-03-27	86
27	2021-03-28	87
28	2021-03-29	88
29	2021-03-30	89
30	2021-03-31	90
```

In [29]:
days = np.array(np.arange(start='2021-03-01', stop='2021-04-01', dtype='datetime64[D]'))
df = pd.DataFrame(data=days, columns=['day'])
df['day_of_year'] = df['day'].dt.day_of_year
df

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

### <a name='5'></a> Ćwiczenie 115

Podany jest poniższy słownik _data_dict_. 

```
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
```

Zbuduj z tego słownika obiekt _DateFrame_. Dodatkowo jako indeks dodaj datę od 2020-01-01 i przypisz do zmiennej _df_.

In [34]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
df = pd.DataFrame(data=data_dict)
index = pd.date_range('2020-01-01', '2020-01-01' + timedelta(1000), freq='D')
df = df.set_index(index)

NameError: ignored

### <a name='6'></a> Ćwiczenie 116
Wyświetl 10 pierwszych wierszy obiektu _df_ z poprzedniego ćwiczenia.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl 8 ostatnich wierszy obiektu df z poprzedniego ćwiczenia.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 117
Wyświetl podstawowe informacje o obiekcie _df_ (liczba wierszy, liczba kolumn, typ zmiennych).

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki obiektu _df_ (wartość średnia, odchylenie, min, max, mediana).

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 118
Zaimportuj bibliotekę _seaborn_ do wizualizacji danych.

In [ ]:
import seaborn as sns

sns.set()

Używając meteody _pd.DataFrame.plot_ zbuduj histogramy dla kolejnych trzech zmiennych.
* normal (20 słupków)

In [ ]:
# tutaj wpisz rozwiązanie

* uniform (30 słupków)

In [ ]:
# tutaj wpisz rozwiązanie

* binomial

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 119
Zapisz obiekt _df_ do pliku _'dataframe.csv'_.

In [ ]:
# tutaj wpisz rozwiązanie

__Sprawdzenie:__
Wyświetlenie 5 pierwszych linijek pliku _dataframe.csv_

In [ ]:
!head -5 dataframe.csv

### <a name='10'></a> Ćwiczenie 110
Wczytaj do zmiennej _df_new_ plik _dataframe.csv_ (pamiętaj o poprawnym wczytaniu indeksu).

In [ ]:
# tutaj wpisz rozwiązanie