<a href="https://colab.research.google.com/github/LucjanSakowicz/data-science-bootcamp/blob/main/09_exercises/211_220_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Science Bootcamp

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 211](#1)
* [Ćwiczenie 212](#2)
* [Ćwiczenie 213](#3)
* [Ćwiczenie 214](#4)
* [Ćwiczenie 215](#5)
* [Ćwiczenie 216](#6)
* [Ćwiczenie 217](#7)
* [Ćwiczenie 218](#8)
* [Ćwiczenie 219](#9)
* [Ćwiczenie 220](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.__version__

'1.22.4'

### <a name='1'></a> Ćwiczenie 211
Podany jest poniższy obiekt _DataFrame_:

```
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
```
Dokonaj dyskretyzacji zmiennej _height_ na 3 przedziały o równej szerokości. Wynik przypisz do nowej kolumny _height_cut_.

In [18]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df['height_cut'] = pd.cut(df['height'], bins=3)
df

   height          height_cut
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

### <a name='2'></a> Ćwiczenie 212
Dokonaj dyskretyzacji zmiennej _height_ na 3 przedziały o zadanej postaci:
* (160, 175]
* (175, 180]
* (180, 195]

Wynik przypisz do nowej kolumny _height_cut_2_.

In [19]:
df['height_cut_2'] = pd.cut(df['height'], bins=(160, 175, 180, 195))
df

   height          height_cut height_cut_2
0   175.0  (167.977, 175.667]   (160, 175]
1   178.5  (175.667, 183.333]   (175, 180]
2   185.0    (183.333, 191.0]   (180, 195]
3   191.0    (183.333, 191.0]   (180, 195]
4   184.5    (183.333, 191.0]   (180, 195]
5   183.0  (175.667, 183.333]   (180, 195]
6   168.0  (167.977, 175.667]   (160, 175]

### <a name='3'></a> Ćwiczenie 213
Dokonaj dyskretyzacji zmiennej _height_ na 3 przedziały o zadanej postaci:
* (160, 175]
* (175, 180]
* (180, 195]

oraz przypisz im odpowiednio etykiety:

* small
* medium
* high

Wynik przypisz do nowej kolumny _height_cut_3_.

In [20]:
df['height_cut_3'] = pd.cut(df['height'], bins=(160, 175, 180, 195), labels=['small', 'high', 'medium'])
df

   height          height_cut height_cut_2 height_cut_3
0   175.0  (167.977, 175.667]   (160, 175]        small
1   178.5  (175.667, 183.333]   (175, 180]         high
2   185.0    (183.333, 191.0]   (180, 195]       medium
3   191.0    (183.333, 191.0]   (180, 195]       medium
4   184.5    (183.333, 191.0]   (180, 195]       medium
5   183.0  (175.667, 183.333]   (180, 195]       medium
6   168.0  (167.977, 175.667]   (160, 175]        small

### <a name='4'></a> Ćwiczenie 214
Usuń kolumny _height_cut_ oraz _height_cut_2_ z obiektu _df_.

In [21]:
df.drop(columns=['height_cut', 'height_cut_2'], inplace=True)

Zmień nazwę kolumny _height_cut_3_ na _height_level_.

In [22]:
df.rename(columns={'height_cut_3':'height_level'}, inplace=True)

### <a name='5'></a> Ćwiczenie 215
Uzyskaj kodowanie 0-1 obiektu _df_ dzięki funkcji _pd.get_dummies()_.

In [23]:
pd.get_dummies(df)

   height  height_level_small  height_level_high  height_level_medium
0   175.0                   1                  0                    0
1   178.5                   0                  1                    0
2   185.0                   0                  0                    1
3   191.0                   0                  0                    1
4   184.5                   0                  0                    1
5   183.0                   0                  0                    1
6   168.0                   1                  0                    0

### <a name='6'></a> Ćwiczenie 216
Podany jest poniższy obiekt _df_:


```
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
```
Zbuduj nową kolumnę o nazwie _length_, która przyjmie długość listy kolumny _lang_.

In [27]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df['length'] = df['lang'].apply(len)
df

                  lang  length
0            [PL, ENG]       2
1  [GER, ENG, PL, FRA]       4
2                [RUS]       1

### <a name='7'></a> Ćwiczenie 217 
Zbuduj nową kolumnę o nazwie _PL_flag_, która przyjmie wartość 1, gdy język 'PL' będzie w liście w kolumnie _lang_, przeciwnie 0.

In [28]:
df['PL_flag'] = df['lang'].apply(lambda item: 1 if 'PL' in item else 0)
df

### <a name='8'></a> Ćwiczenie 218
Podany jest poniższy obiekt _df_:


```
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
```
Podziel kolumnę _website_ względem znaku kropki (.) na dwie kolumny o nazwach _portal_ oraz _ending_.

In [30]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df = df['website'].str.split('.', expand=True)
df.columns = ['portal', 'ending']
df

   portal ending
0      wp     pl
1    onet     pl
2  google    com

### <a name='9'></a> Ćwiczenie 219
Wytnij wszystkie wiersze obiektu _df_ dla którego kolumna _portal_ zawiera literę 'o'.

In [31]:
df['portal'].str.contains('o')

0    False
1     True
2     True
Name: portal, dtype: bool

### <a name='10'></a> Ćwiczenie 210
Zamień wszystkie rozszerzenia _com_ z kolumny _ending_ na _org_.

In [32]:
df['ending'] = df['ending'].str.replace('com', 'org')